@import "/home/fvrz/.cache/wal/colors-waybar.css";
/* Replace the path with your USERNAME */

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.85);
}
button {	
    font-size: 25px;
    background-size: 25%;
    padding-bottom: 52px;
    margin: 2px;
    border-radius: 4px;
    background-color: @background;
    border: 3px solid @color10;
    color: @foreground;
}

button:focus, button:active, button:hover {
	background-color: @color3;
	outline-style: none;
}
